.label0 { color: cyan; }
.color0 path { stroke: cyan; }
.label1 { color: orange; }
.color1 path { stroke: orange; }
.label2 { color: yellow; }
.color2 path { stroke: yellow; }
.label3 { color: white; }
.color3 path { stroke: white; }
.label4 { color: green; }
.color4 path { stroke: green; }
.label5 { color: red; }
.color5 path { stroke: red; }
.label6 { color: magenta; }
.color6 path { stroke: magenta; }
.label7 { color: gray; }
.color7 path { stroke: gray; }
.label8 { color: brown; }
.color8 path { stroke: brown; }
.label9 { color: blue; }
.color9 path { stroke: blue; }
