.label0 { color: cyan; }
.stroke0 path { stroke: cyan; }
.fill0 { fill: cyan; }

.label1 { color: orange; }
.stroke1 path { stroke: orange; }
.fill1 { fill: orange; }

.label2 { color: yellow; }
.stroke2 path { stroke: yellow; }
.fill2 { fill: yellow; }

.label3 { color: white; }
.stroke3 path { stroke: white; }
.fill3 { fill: white; }

.label4 { color: green; }
.stroke4 path { stroke: green; }
.fill4 { fill: green; }

.label5 { color: red; }
.stroke5 path { stroke: red; }
.fill5 { fill: red; }

.label6 { color: magenta; }
.stroke6 path { stroke: magenta; }
.fill6 { fill: magenta; }

.label7 { color: gray; }
.stroke7 path { stroke: gray; }
.fill7 { fill: gray; }

.label8 { color: brown; }
.stroke8 path { stroke: brown; }
.fill8 { fill: brown; }

.label9 { color: blue; }
.stroke9 path { stroke: blue; }
.fill9 { fill: blue; }

