.wrapper {
    min-width: 1365px;  /* taking into consideration explicitly defined plot width (1250px) */
    min-height: 450px;  /* prevent space collapse when spinner spinner is shown */
}
.topicWrapper {
    max-width: 1250px;
    min-height: 10em;
}
.toolsWrapper {
    position: relative;
    bottom: -2em;
    color: var(--rs-text-primary);
}
.toolsWrapper button {
    color: var(--rs-btn-link-text);
}
