.highlighted {
    background-color: darkcyan;
}
.color1 {
    border-bottom: 1px solid darksalmon;
    /*font-style: italic;*/
    /*color: orange;*/
}
.color2 {
    border-bottom: 1px solid lightseagreen;
    /*font-style: italic;*/
    /*color: lightseagreen;*/
}
.color3 {
    border-bottom: 1px solid lightcyan;
    /*font-style: italic;*/
    /*color: cyan;*/
}
.color4 {
    border-bottom: 1px solid yellow;
    /*font-style: italic;*/
}
.color5 {
    border-bottom: 1px solid lightgreen;
    /*font-style: italic;*/
}
.newLine {
    margin-bottom: 0.5em;
}
