.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 14em;
    max-width: 17em;
    margin: 1em;
    padding: 2em 1em;
    position: relative;
    font-family: 'helvetica', san-serif;
    background: #12071f;
    border: 1px solid #252727;
}
.wrapper:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.wrapperStyle0:before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}
.wrapperStyle1:before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
.wrapperStyle2:before {
    background: #fc354c;
    background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
    background: linear-gradient(to right, #0abfbc, #fc354c);
}
.wrapperStyle3:before {
    background: #c9ffbf;
    background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
    background: linear-gradient(to right, #ffafbd, #c9ffbf);
}


.truncatedText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.2;
}
.truncatedText:hover {
    cursor: pointer;
}
